<mat-card class="user" *ngIf="user$ | async as user">
    <mat-card-header>
        <mat-card-title>{{ user.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Dati Personali:<br>
            Città: {{ user.address.city }}<br>
            Numero di telefono: {{ user.phone }}<br>
            Email: {{ user.email }}<br>
            Sito: {{ user.website }}<br></p>
    </mat-card-content>
</mat-card>
<h3>Post:</h3>
<ng-container *ngIf="posts$ | async as posts">
    <mat-card *ngFor="let post of posts">
        <mat-card-header>
            <mat-card-title>{{ post.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{ post.body }}</p>
        </mat-card-content>
    </mat-card>
</ng-container>