<body>
  <h1>Todo List</h1>
  <form (ngSubmit)="addToList(value)">
    <div>
      <mat-form-field>
        <mat-label>Type here</mat-label>
        <input matInput type="text" [(ngModel)]="value" name="todo">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Add to list">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
  <ul>
    <li [ngClass]="{'checked': element.isChecked }" *ngFor="let element of list" (click)="checkElement(element.content)" (dblclick)="listRemove(element.content)">{{element.content}}</li>
  </ul>
</body>