body {
    display: flex;
    flex-flow: column;
    background-color: beige;
    min-width: 20rem;    
}
address {
    margin: 2rem;
}
.namePhoto {
    display: flex;
    justify-content: space-around;
}
.description {
    max-width: 60rem;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.aut {
    display: flex;
    align-self: end;
    font-size: 0.7rem;
}