* {
    color: white;
}
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3d/Blazar-illustration.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
input, textarea, button {
    color: black;
}
.background {
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
    padding: 1rem;
    border-color: yellow ;
    border-width: 2px;
    border-style: solid;
}
#text, #form {
    display:flex;
    justify-content: center;
    background-color: transparent;
}
