* {
    color: white;
}
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3d/Blazar-illustration.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
input, textarea, button {
    color: black;
}
.container {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0% 10%;
    min-width: 236px;
    padding: 1rem;
    border-color: yellow ;
    border-width: 2px;
    border-style: solid;
}

.container__header, .container__form {
    display:flex;
    justify-content: center;
    background-color: transparent;
}

.container__header {
    text-align: center;
}

.container__form__buttons {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 5px;
}

.container__form__file--color {
    color: white;
}