@media (max-width: 767px) {

    .container__cards {
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
    
    .container__cards__1, .container__cards__2, .container__cards__3 {
        flex-grow: 1;
    }
}

@media (min-width: 768px) {
    .container__mainText {
        font-size: xx-large;
    }

    .container__cards {
        margin-top: 50px;
    }

    .container__cards__1, .container__cards__2, .container__cards__3 {
        max-width: 300px;
        height: 300px;
        flex-shrink: 1;
    }
}

body {
    margin: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background {
    background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9c4ea5b834cd5c25a814ec11/z-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* position: relative; */
    background-size: cover;    
}

.header{
    position: relative;
    top: 0;
    height: 70px;
    width: 100%;
}

.header__fixed {
    position: fixed;
    top: 0;
    background-color: beige;
    height: 70px;
    width: 100%;
    z-index: 1;
}

.header__icons {
    color: grey;
    height: 70px;
}

.header__icons__cross {
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
}

.header__icons__devices {
    position: absolute;
    top: 22px;
    left: calc(50% - 90px);
    display: flex;
    width: 180px;
    justify-content: space-between;
}

.container {
    display: grid;
}

.container__mainText {
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container__cards {
    position: relative;
    grid-row: 4;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.container__cards__line {
    position: absolute;
    background-color: white;
    height: 5px;
    width: 130px;
    left: calc(50% - 75px);
    top: -40px;
    z-index: 0;
}

.container__cards__1, .container__cards__2, .container__cards__3 {
    margin: 10px;
    padding: 20px;
    border: 4px solid;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.container__cards__1 {
    border-color: orange;
}

.container__cards__1__draw {
    background-color: orange;
}

.container__cards__2 {
    border-color: dodgerblue;
}

.container__cards__2__draw {
    background-color: dodgerblue;
}

.container__cards__3 {
    border-color: aqua;
}

.container__cards__3__draw {
    background-color: aqua;
}

.container__cards__1__draw, .container__cards__2__draw, .container__cards__3__draw {
    position: relative;
    height: 90px;
    width: 90px;
    left: calc(50% - 45px);
    border-radius: 50%;
}

.container__cards__1__draw__icon, .container__cards__2__draw__icon, .container__cards__3__draw__icon {
    position: relative;
    top: 35px;
}

.container__text {
    grid-row: 5;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.container__text__a {
    margin-left: 0.3rem;
    color: white;
    text-decoration-line: none;
    padding-bottom: 3px;
    border-bottom: 3px solid orange;
}

.container__footer {
    grid-row: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97.6px;
    background-color: rgb(56, 56, 56);
}

.container__footer__a {
    margin-left: 0.3rem;
    color: aqua;
}